<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pullRefreshWhiteLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x333333</string>
		<key>shadowOffset</key>
		<string>{1,1}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
		<key>textAlignment</key>
		<string>center</string>
	</dict>
	<key>pullRefreshBlackLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>shadowColor</key>
		<string>0xefefef</string>
		<key>shadowOffset</key>
		<string>{1,1}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
		<key>textAlignment</key>
		<string>center</string>
	</dict>
	<key>navigationTitleLightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
		<key>minimumFontSize</key>
		<integer>14</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<true/>
	</dict>
	<key>navigationTitleDarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>highlightedTextColor</key>
		<string>0x000000</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0xefefef</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
		<key>minimumFontSize</key>
		<integer>14</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<true/>
	</dict>
	<key>navigationButton</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
	</dict>
	<key>loadingLightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x222222</string>
		<key>shadowOffset</key>
		<string>{1,1}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>loadingDarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0x70695A</string>
		<key>highlightedTextColor</key>
		<string>0x70695A</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0xefefef</string>
		<key>shadowOffset</key>
		<string>{1,1}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h1LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>24</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>lineBreakMode</key>
		<string>wordWrap</string>
		<key>shadowColor</key>
		<string>0x222222</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h1DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>24</integer>
		<key>textColor</key>
		<string>0x2a2a2a</string>
		<key>highlightedTextColor</key>
		<string>0x2a2a2a</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>lineBreakMode</key>
		<string>wordWrap</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h2LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x222222</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h2DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h3LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x222222</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h3DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h4LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h4DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h5LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h5DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h6LightLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>h6DarkLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>menuTitleLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>1</integer>
	</dict>
	<key>productTaglineLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Regular</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>orderCellProductLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xffffff</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>orderCellDateLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>right</string>
		<key>shadowColor</key>
		<string>0xffffff</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>orderCellTotalLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Semibold</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xffffff</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>orderCellOrderidLabel</key>
	<dict>
		<key>fontName</key>
		<string>ProximaNova-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x222222</string>
		<key>highlightedTextColor</key>
		<string>0x222222</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xffffff</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
