<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLoggedIn</key>
	<false/>
	<key>isFirstLaunch</key>
	<true/>
	<key>lastExitDate</key>
	<date>1970-01-01T08:00:00Z</date>
	<key>fbAccessToken</key>
	<string>AAADuXBuVQAsBACtSqZCZB0JC5CLZBUk4DWV9toYuLRdSRAZAjx7o969kHmkLhiAy25CVCezCzGeEC0zhZAWqOe3WLZBn3AHZCCCb2CCk9Nk6QZDZD</string>
	<key>fbId</key>
	<string>548430564</string>
</dict>
</plist>
